.ui-page {
        webkit-backface-visibility:hidden;
        overflow:hidden;
}
@media (max-width: 650px) {
    /* some CSS for small resolution */
    body {
        height:1136px !important;
        width:640px !important;
    }
}
#headerLogin{top:24px;}
#statusBar{width: 100%; height: 40px;float: left; background-color: #000;}
.aBack {
margin-top: 76px !important;
}
#header {
background-position-y: -38px !important;
}
@media (min-width: 800px) {
    .divGal
    {
        height: 380px;
    }
}
@media (max-width: 790px) {
    .divGal
    {
        height: 200px;
    }
}
@media (max-width: 650px) {
    .divGal
    {
        height: 160px;
    }
}

